.product-item img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: cover;
}

#featured > div.row.mx-auto.container > nav > ul > li.page-item.active > a{
    background-color: rgb(25, 24, 23);
}

#featured > div.row.mx-auto.container > nav > ul > li:nth-child(n):hover>a{
    background-color: coral;
    color: #fff;
} 


.pagination a{
    color: black;
}

.product-item > div:nth-child(n) > button.buy-btn{
    margin-right: 10px;
}

#featured > div.row.mx-auto.container.product > div:nth-child(n) > a{
    text-decoration: none;
}

.product-item{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product-item img{
    transition: 0.3s all;
}

.product-item:hover img{
    opacity: 0.7;
}

.product-item .buy-btn,
.product-item .cart-btn{
    background: #fb774b;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product-item:hover .buy-btn,
.product-item:hover .cart-btn{
    transform: translateY(0);
    opacity: 1;
}